#playerData {
    display: grid;
    margin: 1rem auto;
}

#txtBox_playerName {
    width: 15rem;
    height: 2rem;
    border-radius: 0.4rem;
    margin-top: 0.3rem;
}

#txtBox_playerName::placeholder {
    color: #fe5500;

}

#txtBox_playerName:focus {
    color: #ffffff;
    background-color: #7f4d3b;
    outline: 0;
}