label {
    font-size: 1.1rem;
}

/* HUD's Styling properties: */
#hud_container {
    display: block;
    width: 95%;
    margin-bottom: 1rem;
}

#lbl_hud {
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

#loadingBarBorder {
    margin: auto;
    width: 50%;
    border: 1px solid #3df1f1;
}

#loadingBarContent {
    background-color: #7f4d3b;
    width: 0%;
}


#lbl_question {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.choice-container {
    color: #ffffff;
    display: flex;
    font-size: 1.2rem;
    border: 0.2rem solid #3df1f1;
    margin-bottom: 0.4rem;
    width: 95%;
    border-radius: 1rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 #7f4d3b;
    transform: translateY(-0.2rem);
    transition: 250ms;
    font-weight: bold;
    background-color: #ffffff;
    color: #fe5500;
}

.selected-answer {
    font-weight: bold;
    font-style: italic;
    background-color: #ffffff;
    color: #fe5500;
}

.lbl_choiceOption {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #7f4d3b;
    margin: 0.3rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.lbl_choiceOption:hover {
    cursor: pointer;
}

.lbl_choiceText {
    padding: 1.5rem 1.5rem;
    width: 100%;
}

/*Questions navigation Bar*/
.navQuestionBar {
    display: flex;
}

.navQuestionBar p {
    margin: 3rem 2rem 0 0;
}